.ex-1-square {
  transition: 3s;
}
.ex-1-square:hover {
  background: red;
}
.ex-2-square{
  transition: 3s;
}
.ex-2-square:active {
  width: 100%;
}
.ex-3-square {
  transition: 3s;
}
.ex-3-square:hover {
  border-radius: 100%;
}
.ex-4-square {
  transition: 3s;
}
.ex-4-square:hover {
  background: transparent;
}
.ex-5-square {
  transition: 3s;
}
.ex-5-square:hover {
  transform: scale(2);
}
.ex-5-square:active {
  transform: scale(0.5);
}
.ex-6-img:hover {
  filter: grayscale(100%);
}
.ex-7-img {
  transition: 3s;
}
.ex-7-img:hover {
  filter: grayscale(0.5) sepia(0.5);
}
.ex-8-img {
  transition: 3s;
}
.ex-8-img:hover {
  filter: sepia(1);
  border-radius: 10px;
}
.ex-9-img {
  transition: 3s;
}
.ex-9-img:hover{
  filter: sepia(1);
  border-radius: 10px;
  transform: scale(1.5);
}
.ex-10-icon {
  animation-duration: 2000ms;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes spin {
from {transform: rotate(0deg);}
to {transform: rotate(360deg);}
}

.ex-11-icon:hover {
  animation-duration: 3000ms;
  animation-name: spin75;
  animation-timing-function: linear;
}
@keyframes spin75 {
0% {transform: rotate(0deg);}
75% {transform: rotate(270deg);}
}
